ul{
    list-style-type: none;
}

.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    /* background-color: #ce97dd; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); */
    width: 95%;
    height: 100px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 15px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    
}   

.nav-links{
    text-decoration: none;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    
    

}

.nav-links:hover{
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    color: rgb(80, 80, 238);

}

.logo{
    color: #fff;
}
.icon{
    margin-bottom: 37px;
}
/* <Lottie animationData={cat} play style={{ width: 120, height: 150 }} className='mb-4'/> */