.home{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.trending_products{
    margin-top: 100px;



}
.carousel{
    height:600px;
}
.services{
    margin-left: 80px;
    margin-right: 80px;
    border:none;
    
} ;


.card-01{
    padding: 20px;
    
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    background-color: #c0ff05;
}
.card-02{
    padding: 20px;
    
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #e2f2b2;
    
}
.card-03{
    padding: 20px;
    
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    background-color: #d6e5fb;
}
.card-04{
    padding: 20px;
    
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
    background-color: #fdefe6;
}